# Python
__pycache__/
*.py[cod]
*.class

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Mac OS
.DS_Store

# R
.Rhistory
.RData
.Rproj.user/

# Environment
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/
